<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Account Servicing Payment Services Provider</title>
  <link href="/dist/fontawesome/css/font-awesome.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  <!-- Static navbar -->

  <div class="form-group row">
    <div class="col-sm-6 ">
      <div class="textLeft">
        <img src="img/st.png" id="stImg" onerror="this.src='/img/st.png'; this.onerror=null;" alt="ST Logo">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="textRight">
        <img src="img/fbk.png" id="fbkImg" width="260" onerror="this.src='/img/fbk.png'; this.onerror=null;" alt="FBK Logo">
      </div>
    </div>
  </div>





  <div class="textCenter">
      <h1>Account Servicing Payment Services Provider</h1>

      <p>You can access this service using the X509 certificate. </p>
      <a href="https://localhost:8888/login" id="btn-eidas-login">
        <img src="/img/login-eidas.png" />
      </a>
  </div>



</body>

<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/jquery-validation/jquery.validate.min.js"></script>
<script src="/dist/bootstrap/js/bootstrap.min.js"></script>
<script src="/dist/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>



</html>
